{% extends 'base.html' %}
{% block content %}

<style>
    

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .form-container {
        width: 100%;
        max-width: 400px;
        padding: 20px;
        border-radius: 10px;
        background-color: #f9f9f9;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin-bottom: 20px;
    }

    input[type="number"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    input[type="submit"] {
        width: 100%;
        padding: 10px;
        
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #302186;
    }
</style>

    <div class="center">
        <div class="form-container">
            <form action="input" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <input type="number" step="any" id="decimalInput1" name="fnum" class="form-control" placeholder="Enter value for Severe anemia" required>
                </div>
                <div class="form-group">
                    <input type="number" step="any" id="decimalInput2" name="snum" class="form-control" placeholder="Enter value for Mild anemia" required>
                </div>
                <div class="form-group">
                    <input type="number" step="any" id="decimalInput3" name="tnum" class="form-control" placeholder="Enter value for Moderate anemia" required>
                </div>
                <div class="form-group">
                    <input type="number" step="any" id="decimalInput4" name="fonum" class="form-control" placeholder="Enter value for Normal anemia" required>
                </div>
                <div class="form-group">
                    <input type="text" step="any" id="decimalInput5" value="{{data}}" name="data_value" class="form-control">
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>

{% endblock %}